body {
            
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    background-color: #15eeea;background-color;
    width:500px;height:55px;padding:400px;

    }
h1{        
    color:blue;
    font-size: 50px;
}
input{
    width: 500px; /*largor*/
    height: 80px;  /* altura*/
    
}
button{
    background-color: #b1b8d8;
    transition: transform 20ms ease-in
}
button:hover {
    box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.5);/*para poner sombra*/
}

/* Puedes agregar más estilos CSS según tus necesidades */

   